
@if (TempData["success"] != null)
{
    <div class="alert alert-custom alert-light-success fade show mb-5" role="alert">
        <div class="alert-text">
            @TempData["success"].ToString()
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
}
@if (TempData["warning"] != null)
{
    <div class="alert alert-custom alert-light-warning fade show mb-5" role="alert">
        <div class="alert-text">
            @TempData["warning"].ToString()
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-custom alert-light-danger fade show mb-5" role="alert">
        <div class="alert-text">
            @TempData["error"].ToString()
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
}
@if (TempData["info"] != null)
{
    <div class="alert alert-custom alert-light-info fade show mb-5" role="alert">
        <div class="alert-text">
            @TempData["info"].ToString()
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
}