
@{
    ViewBag.PageTitle = "Not Found";
}


<html lang="en">
<!--begin::Head-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.PageTitle</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    @Styles.Render("~/assets/metronic/css")

</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed subheader-mobile-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Error-->
        <div class="d-flex flex-row-fluid flex-column bgi-size-cover bgi-position-center bgi-no-repeat p-10 p-sm-30" style="background-color: white;">
            <!--begin::Content-->
            <h1 class="font-weight-boldest text-dark-75 mt-15" style="font-size: 10rem">404</h1>
            <p class="font-size-h3 text-muted font-weight-normal">
                OOPS! The resource you are looking for might have been removed, had its name
                changed, or is temporarily unavailable.
            </p>
            <p class="font-size-h3 text-muted font-weight-normal">
                If you typed the page address in the Address bar, make sure that it is spelled correctly.
            </p>
            <!--end::Content-->
        </div>
        <!--end::Error-->
    </div>
    <!--end::Main-->

    @Scripts.Render("~/assets/metronic/js")
</body>
<!--end::Body-->
</html>